@font-face {
    font-family: "iranyekan";
    src: url("../fonts/uiranyekan/eot/iranyekanwebregular.eot?#"),
        url("../fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
        url("../fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
        url("../fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}

@font-face {
    font-family: "iranyekan_numbers";
    src: url("../fonts/fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#"),
        url("../fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
        url("../fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
        url("../fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: #f3f4f6;
    transition: 0.33s all 0s ease-out;
    font-family: 'iranyekan_numbers', 'iranyekan';
}

a {
    font-family: 'iranyekan_numbers', 'iranyekan';
}

input {
    font-family: 'iranyekan_numbers', 'iranyekan';

}

button {
    font-family: 'iranyekan_numbers', 'iranyekan';
}

::placeholder {
    font-family: 'iranyekan_numbers', 'iranyekan';
}

select {
    font-family: 'iranyekan_numbers', 'iranyekan';
}

img {
    max-width: 100%;
    display: block;
}

/* header */
.img-heder {
    width: 12%;
}

.img-heder img {
    width: 100%;
}

.space-between {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/* select header */
.select-box {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

header select {
    outline: 0;
    appearance: none;
    position: relative;
    border-radius: 0.5rem;
    background-size: 30px !important;
    border: 2px solid #F6F6F6;
    padding: 12px 12px 12px 24px;
    background: #F6F6F6 url(../img/down4.svg) 4px center no-repeat;
}

/*end select header */
/* nav header */
.flex-ul {
    gap: 32px;
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    margin-right: -46px;
    list-style-type: none;
}

.flex-ul a {
    color: #000;
    text-decoration: none;
}

.flex-ul a:hover {
    color: #009f8e;
}

/* end nav header */
/* form header */

.header_search {
    display: flex;
    padding-left: 10px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    border: 2px solid #f3f4f6;
}

.header_search input {
    outline: 0;
    display: block;
    padding: 12px 16px;
    border-radius: 0.5rem;
    background-color: #F6F6F6;
    border: 2px solid #f6f6f6;
}

.header_search input[placeholder] {
    font-size: 13px;
    color: #B8B8B8;
    text-align: right;
    padding-right: 12px !important;
}

.header_search svg {
    width: 24px;
    height: 24px;
    display: flex;
    user-select: none;
    background-size: 80%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_search button {
    border: none;
    cursor: pointer;
    filter: brightness(0.5);
    background-size: 20px 20px;
    background-color: rgba(0, 0, 0, 0);
}

/* end form heder */
/* header_button */
.header_button {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

.header_button button {
    color: #fff;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 9px 16px;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    font-family: bold, verdana;
    border: 2px solid #009f7f;
    background-color: #009f7f;
    font-family: 'iranyekan_numbers', 'iranyekan';
}

.min-box {
    width: 100%;
    flex: 1 1 auto;
    min-width: 300px;
    overflow: hidden;
    background-color: #fff;
}

/* end header_button */
/* mobail-header */
.mobail-header {

    justify-content: space-between;
    margin-top: 6rem;
}

.select-header {
    margin-top: 4rem;
}

.select-box-h {
    border: none;
    cursor: pointer;
    appearance: none;
    position: relative;
    padding-right: 4px;
    background-size: 18px;
    border-radius: 0.5rem;
    background-color: #fff;
    border: 2px solid #F6F6F6;
    padding: 12px 12px 12px 24px;
}

.felter-css {
    font-size: 14px;
    cursor: pointer;
    margin-top: 4rem;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background-color: #f4f5f7;
}

.border-boottem {
    display: none;
    margin-top: 15px;
    border-bottom: 2px solid gainsboro;
}

.m-b-15 {
    margin-bottom: 15px;
}

/* end mobail-header */
/* end header */
/* main */
.bacgrnd-img {
    width: 100%;
    height: 500px;
    background-color: #fff;
    background-size: auto 100%;
    background-position: center center;
    background-image: url(../img/bakery.webp);
}

.bacgrnd-img h2 {
    margin-top: 10rem;
    text-align: center;
}

.bacgrnd-img p {
    margin-top: 1rem;
    text-align: center;
}

/* form min header */
.box-shadow {
    gap: 2px;
    width: 36%;
    display: flex;
    margin: 35px auto;
    background-color: #eee;
    box-shadow: 0 30px 50px #eee;
}

.box-shadow input {
    border: 0;
    outline: 0;
    padding: 14px;
    min-width: 400px;
    border-color: #fff;
    background-color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.box-shadow button {
    width: 83px;
    height: 40px;
    display: flex;
    color: white;
    cursor: pointer;
    padding: 9px 16px;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    border: 2px solid #009f7f;
    background-color: #009f7f;
}

.felx {
    display: flex;
    flex-wrap: wrap;
}

/*end-form min header */

header {
    top: 0;
    z-index: 10;
    width: 100%;
    position: fixed;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
}

.img-heder {
    width: 12%;
}

.img-heder img {
    width: 100%;
}

.space-between {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/* silaeder */
.silaeder {
    width: 100%;
    min-height: 10rem;
    /* border: 1px solid red; */
}

.slid {
    display: block;
    width: 175px;
    text-align: center;
    background-color: #fff;
    padding: 16px;
    border-radius: 0.4em;
}

.slid img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
}

.owl-th {
    margin: 50px auto;
    width: 93% !important;
}

.m-t5 {
    margin-top: 5px;
}

/* end silaeder */
/* maim */
.bakery_slider {
    width: 100%;
    height: 500px;
    padding: 9rem;
    text-align: center;
    background-color: #fff;
    background-size: auto 100%;
    background-position: center center;
    background-image: url(../img/bakery.webp);
}

.bakery_slider h1 {
    margin-bottom: 1.5rem;
}

/* container */
.container {
    width: 95%;
    margin: 0 auto;
}

/* end container */
/* grid */
.grid {
    gap: 15px;
    row-gap: 0;
    display: grid;
    padding: 30px;
    justify-content: center;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

/* end grid */
/* box grid */


.a_null a:link,
.a_null a:visited,
.a_null a:hover {
    color: unset;
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.bakery_item {
    gap: 1rem;
    padding: 16px;
    margin-top: 25px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 10px #eee;
}

.svg-botton:hover {
    background-color: #009f7f;
    border-color: #009f7f;
}

.svg-botton:hover svg {
    color: white;
}

/* end box grid */
/* flex-dr */

.flex-dr {
    display: flex;
    justify-content: space-between;
}

.clear {
    clear: both;
}

.matn {
    font-weight: bold;
}

/* end flex-dr */
/* bakery_item_price */
.bakery_item_price {
    gap: 18px;
    display: flex;
    margin-bottom: 1rem;
}

.color-g {
    color: #888;
    font-size: 14px;
}

/* end bakery_item_price */
/* darsd */
.darsd {
    padding: 8px;
    height: 30px;
    color: #fff;
    font-size: 13px;
    border-radius: 0.4em;
    background-color: #009f7f;
}

/* end darsd */
/*svg-botton" */
.svg-botton {
    float: right;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    background-size: 60%;
}

/*end svg-botton" */
/* button-sa */
.button-sa {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button-sa button {
    height: 40px;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 16px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    border: 2px solid #009f7f;
    background-color: #009f7f;
}

/* end button-sa */
/*end maim */
/* product Paige */
.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* img title */
.bg-product {
    padding: 20px;
    margin-top: 6rem;
}


.width-100 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.rdus {
    border-radius: 0.5rem;
}

/* end img title*/
/* product  */
.title {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bold;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.item:link,
a:visited {
    color: #009f8e;
    text-decoration: none;
}

.item {
    width: 22%;
}

.item img {
    margin-bottom: 10px;
}

.m-t-25 {
    margin-top: 25px;
}

.matn_title {
    font-size: 18px;
    font-weight: bold;
}

.item_author {
    margin-top: 8px;
    font-size: 12px;
    color: #a4aab5;
}

.item_pricebox {
    gap: 8px;
    margin-top: 8px;
}

.m-price {
    font-size: 14px;
    color: #fa7316;
}

.off {
    color: #ccc;
    font-size: 12px;
}

.Discount {
    color: #07bc0c;
    font-size: 13px;
}

/* slider-img */
.img-slider {
    width: 100%;
    height: 18%;
    font-size: 15px;
    text-align: center;
}

.img-slider img {
    width: 100%;
    margin-bottom: 10px;
}

/* end-slider-img */
/* button-r */
.p-button {
    display: flex;
    justify-content: center;
}

.button-r {
    color: #fff;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 9px 16px;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    border: 2px solid #009f7f;
    background-color: #009f7f;
    font-family: 'iranyekan_numbers', 'iranyekan';
}

/* end button-r */
/* end product  */
/* img-slider-redus */
.img-slider-redus img {
    display: block;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 8px;
    border-radius: 100%;
    animation-delay: 10s;
    border: 4px solid #fff;
    box-shadow: 0 0 5px #aaa;
}

.img-slider-redus img:hover {
    transform: rotate(5deg);
}

.rdus-100 {
    border-radius: 100%;
}

/* end img-slider-redus */
/* img-box-slider */
.img-box {
    width: 60px;
}

.gap-15 {
    gap: 15px;
    font-size: 15px;
}

.slider-a {
    width: 255px;
    padding: 16px;
    margin-top: 40px;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 0.4em;
    box-shadow: 0 2px 5px #aaa;
}

.sider-text {
    color: #000;
    font-size: 13px;
}

/*end-img-box-slider */
/* book-box */
.book-box {
    position: relative;
    padding: 128px 64px;
    margin-bottom: 16px;
    background-size: 100% auto;
    background-color: #ebeaea;
    background-image: url(../img/booksfooter.webp);
}

.text-books {
    width: 50%;
    border: 1px solid darkblue;
}

.books-title {
    font-size: 24px;
    font-weight: bold;
}

.text-box {
    font-size: 13px;
}

.books-img img {
    width: 164px;
}

.img-book {
    left: 7%;
    bottom: 0;
    width: 364px;
    position: absolute;

}

/* end book-box */
/* footer */
.footer {
    display: flex;
    line-height: 2;
    font-size: 14px;
    flex-wrap: wrap;
    padding: 64px 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    justify-content: space-between;
}

.foter-item {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    flex-direction: column;
}

.foter-item:first-child {
    width: 30%;
}

.logo {
    width: 150px;
}

.logo img {
    display: block;
    max-width: 100%;
}

.foter-item p {
    font-size: 13px;
    line-height: 1.9;
    color: #505050;
    text-align: justify;
}

.mt-15 {
    margin-top: 15px;
}

footer b {
    font-size: 16px;
    margin-bottom: 12px;
}

.foter-item a:visited {
    color: #505050;
    margin-top: 8px;
}

.foter-item a:hover {
    color: orange;
    text-decoration: none
}

.foter-item input {
    display: block;
    padding: 12px 16px;
    border-radius: 0.5rem;
    border: 2px solid #f6f6f6;
    background-color: #F6F6F6;
}

.foter-item input[type=submit] {
    height: 40px;
    display: flex;
    color: #fff;
    cursor: pointer;
    margin-right: 5px;
    padding: 3px 17px;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    background-color: #009f7f;
    border: 2px solid #009f7f;
}

/* img-footer */
.text {
    font-size: 14px;
    padding-bottom: 24px;
}

.img-footer {
    background-color: white;
    border-bottom: 8px solid #000;
}

.img-a a {
    width: 4rem;
}

img {
    max-width: 100%;
}

/*end img-footer */
/* end footer */

/*end product Paige */

/* makeup paige  */


/* mikap-slid */
.mikap-slid {
    width: 100%;
    display: flex;
    height: 550px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center -200px;
    background-image: url(../img/makeup.webp);
}

.flex-col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box-shdow {
    box-shadow: 0 30px 50px #eee;
}

.box-shdow input[type=text] {
    display: block;
    min-width: 400px;
    padding: 12px 16px;
    border-color: #fff;
    background-color: #fff;
    border-top-left-radius: 0;
    background-color: #F6F6F6;
    border: 2px solid #f6f6f6;
    border-bottom-left-radius: 0;
    border-radius: 0 0.5rem 0.5rem 0;
}

.mikap-slid h1 {
    font-size: 24px;
    margin-bottom: 30px;
}

.mikap-slid p {
    font-size: 13px;
    line-height: 1.9;
    color: #505050;
    text-align: justify;
}

.box-shdow button {
    height: 40px;
    display: flex;
    color: #fff;
    cursor: pointer;
    padding: 9px 16px;
    align-items: center;
    justify-content: center;
    border: 2px solid #009f7f;
    background-color: #009f7f;
    border-radius: 0.5rem 0 0 0.5rem;
}

.box-shdow input [placeholder] {
    font-size: 13px;
    color: #B8B8B8;
}

/* end mikap-slid */

/* mikap-slider */
.box-item {
    height: auto;
    width: 380px;
    display: block;
}

.book-box img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

/* mikap-slider  */
/* makeup_section_2 */
.makeup_sidebar {
    width: 300px;
    height: 500px;
    border-top: 2px solid #eee;
}
.makeup_sidebar_list {
    padding: 16px;
}


/* end makeup_section_2 */




/*end  makeup paige  */

/* media */
@media only screen and (max-width: 1190px) {

    /* header */
    header select {
        display: none;
    }

    .flex-ul {
        display: none;
    }

    .header_search {
        display: none;
    }

    .header_button {
        display: none;
    }

    .select-box-h {
        display: block;
    }

    .border-boottem {
        display: flex;
    }

    .img-heder {
        width: 19%;
        margin: 0 auto;
    }

    /*end header */
    /* footer */
    .footer {
        gap: 26px;
    }

    /* end footer */
    /* img-titel */
    .img-titel {
        margin-top: -5rem;
    }

    /* end img-titel */
}

@media only screen and (max-width: 1020px) {

    /* book-box */
    .img-book {
        display: none;
    }

    .book-box {
        text-align: center;
    }

    .books-img {
        justify-content: center;
    }

    /* end book-box */

}

@media only screen and (max-width: 1110px) {

    .item {
        width: 45%;
    }
}

@media only screen and (max-width: 720px) {

    .item {
        width: 100%;
    }

    .img-heder {
        width: 37%;
    }
}

/* end media */