* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    direction: rtl;
    background-color: #f3f4f6;
    transition: 0.33s all 0s ease-out;
}

/* header */

header {
    top: 0;
    z-index: 10;
    position: fixed;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
}

.img-heder {
    width: 12%;
}

.img-heder img {
    width: 100%;
}

.space-between {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/* select header */
.select-box {
    text-align: center;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}

header select {
    outline: 0;
    appearance: none;
    position: relative;
    border-radius: 0.5rem;
    background-size: 30px !important;
    border: 2px solid #F6F6F6;
    padding: 12px 12px 12px 24px;
    background: #F6F6F6 url(../img/down4.svg) 4px center no-repeat;
}

/*end select header */
/* nav header */
.flex-ul {
    gap: 32px;
    display: flex;
    font-size: 12px;
    flex-wrap: wrap;
    list-style-type: none;
}

.flex-ul a {
    color: #000;
    text-decoration: none;
}

.flex-ul a:hover {
    color: #009f8e;
}

/* end nav header */
/* form header */

.header_search {
    display: flex;
    padding-left: 10px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #f3f4f6;
    border: 2px solid #f3f4f6;
}

.header_search input {
    outline: 0;
    display: block;
    padding: 12px 16px;
    border-radius: 0.5rem;
    background-color: #F6F6F6;
    border: 2px solid #f6f6f6;
}

.header_search input[placeholder] {
    font-size: 13px;
    color: #B8B8B8;
    text-align: right;
    padding-right: 12px !important;
}

.header_search svg {
    width: 24px;
    height: 24px;
    display: flex;
    user-select: none;
    background-size: 80%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center center;
}

.header_search button {
    border: none;
    cursor: pointer;
    filter: brightness(0.5);
    background-size: 20px 20px;
    background-color: rgba(0, 0, 0, 0);
}

/* end form heder */
/* header_button */
.header_button {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
}

.header_button button {
    color: #fff;
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 9px 16px;
    align-items: center;
    border-radius: 0.5rem;
    justify-content: center;
    font-family: bold, verdana;
    border: 2px solid #009f7f;
    background-color: #009f7f;
}

.min-box {
    width: 100%;
    flex: 1 1 auto;
    min-width: 300px;
    overflow: hidden;
    background-color: #fff;
}

/* end header_button */
/* end header */
/* main */
.bacgrnd-img {
    width: 100%;
    height: 500px;
    background-color: #fff;
    background-size: auto 100%;
    background-position: center center;
    background-image: url(../img/bakery.webp);
}

.bacgrnd-img h2 {
    margin-top: 10rem;
    text-align: center;
}

.bacgrnd-img p {
    margin-top: 1rem;
    text-align: center;
}

/* form min header */
.box-shadow {
    gap: 2px;
    width: 36%;
    display: flex;
    margin: 35px auto;
    background-color: #eee;
    box-shadow: 0 30px 50px #eee;
}

.box-shadow input {
    border: 0;
    outline: 0;
    padding: 14px;
    min-width: 400px;
    border-color: #fff;
    background-color: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.box-shadow button {
    width: 83px;
    height: 40px;
    display: flex;
    color: white;
    cursor: pointer;
    padding: 9px 16px;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    border: 2px solid #009f7f;
    background-color: #009f7f;
}

.felx {
    display: flex;
    flex-wrap: wrap;
}

/*end-form min header */

/* end main */

header {
    top: 0;
    z-index: 10;
    position: sticky;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #e5e7eb;
}

.img-heder {
    width: 12%;
}

.img-heder img {
    width: 100%;
}

.space-between {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/* silaeder */
.silaeder {
    width: 100%;
    min-height: 10rem;
    /* border: 1px solid red; */
}

.slid {
    display: block;
    width: 175px;
    text-align: center;
    background-color: #fff;
    padding: 16px;
    border-radius: 0.4em;
}

.slid img {
    height: 100px;
    width: auto !important;
    margin-right: auto;
    margin-left: auto;
}

.owl-th{
    width: 93% !important;
    margin: 50px auto;
}

.m-t5 {
    margin-top: 5px;
}

/* end silaeder */
/* maim */
.bakery_slider {
    width: 100%;
    height: 500px;
    padding: 9rem;
    text-align: center;
    background-color: #fff;
    background-size: auto 100%;
    background-position: center center;
    background-image: url(../img/bakery.webp);
}

.bakery_slider h1 {
    margin-bottom: 1.5rem;
}

/* container */
.container {
    width: 95%;
    margin: 0 auto;
}

/* end container */
/* grid */
.grid {
    gap: 15px;
    row-gap: 0;
    display: grid;
    padding: 30px;
    justify-content: center;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

/* end grid */
/* box grid */


.a_null a:link,
.a_null a:visited,
.a_null a:hover {
    color: unset;
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
    text-decoration: none;
}

.bakery_item {
    padding: 16px;
    gap: 1rem;
    margin-top: 25px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 5px 10px #eee;
}

.svg-botton:hover {
    background-color: #009f7f;
    border-color: #009f7f;
}

.svg-botton:hover svg {
    color: white;
}

/* end box grid */
/* flex-dr */

.flex-dr {
    display: flex;
    justify-content: space-between;
}

.clear {
    clear: both;
}

.matn {
    font-weight: bold;
}

/* end flex-dr */
/* bakery_item_price */
.bakery_item_price {
    gap: 18px;
    display: flex;
    margin-bottom: 1rem;
}

.color-g {
    color: #888;
    font-size: 14px;
}

/* end bakery_item_price */
/* darsd */
.darsd {
    color: #fff;
    font-size: 13px;
    padding: 8px;
    border-radius: 0.4em;
    background-color: #009f7f;
    height: 30px;
}

/* end darsd */
/*svg-botton" */
.svg-botton {
    cursor: pointer;
    float: right;
    border-radius: 0.5em;
    border: 1px solid #ddd;
    padding: 10px;
    background-size: 60%;
}

/*end svg-botton" */
/* button-sa */
.button-sa {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button-sa button {
    height: 40px;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 9px 16px;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    border: 2px solid #009f7f;
    background-color: #009f7f;
}

/* end button-sa */
/*end maim */
/* media */

/* end media */